<!-- Modal -->
<div class="modal fade" id="loadRulesModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="loadRulesModalLabel">Load Rules File</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="file" name="file" id="rules-file-loader"></input>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="load_rules-submit" class="btn btn-primary" ng-click="load_rules()">Load</button>
			</div>
		</div>
	</div>
</div>
